* {
  font-family: Inter; }

body {
  background-color: #ecf6f8; }

.title {
  color: rgba(51, 59, 75, 0.8); }

.bg-dark {
  background-color: #333B4B;
  color: #ecf6f8; }
  .bg-dark:hover {
    background-color: rgba(51, 59, 75, 0.8);
    color: #ecf6f8; }

.bg-light {
  color: #333B4B;
  background-color: #ecf6f8;
  border: none; }
  .bg-light:hover {
    background-color: #fff; }

nav {
  position: relative;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  nav .logo .iconify {
    font-size: 3rem;
    color: rgba(51, 59, 75, 0.8); }
  nav .toggle, nav .cross {
    display: none; }
  nav ul {
    position: relative;
    display: inline-flex; }
    nav ul li {
      padding: 1rem;
      border-radius: 5px;
      transition: .3s; }
      nav ul li a {
        color: rgba(51, 59, 75, 0.8);
        font-weight: bolder;
        letter-spacing: 1px; }
      nav ul li:hover {
        background-color: #333B4B;
        box-shadow: 2px 7px 10px 1px #323030;
        transition: .4s; }
        nav ul li:hover a {
          color: #ecf6f8; }
  @media screen and (max-width: 750px) {
    nav {
      justify-content: space-around; }
      nav .toggle {
        display: inline-block; }
      nav ul {
        display: none;
        z-index: 1;
        padding-top: 10rem;
        position: absolute;
        background-color: #fff;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto; }
        nav ul .cross {
          display: block;
          float: right; }
          nav ul .cross .iconify {
            font-size: 3rem; } }

.hero .hero-body {
  padding: 0; }
  @media screen and (max-width: 750px) {
    .hero .hero-body {
      padding: 0;
      text-align: center; } }
  .hero .hero-body .title {
    font-size: 4rem;
    font-weight: bolder; }
    @media screen and (max-width: 750px) {
      .hero .hero-body .title {
        font-size: 2rem;
        text-align: center; } }
  .hero .hero-body img {
    filter: drop-shadow(20px 20px 4px #757a86);
    transform: rotate(-5deg); }
  @media screen and (max-width: 750px) {
    .hero .hero-body .buttons {
      justify-content: center; } }

#posts .subtitle {
  margin: 0;
  padding-top: 1rem;
  font-weight: bold; }
#posts .content {
  color: #757a86;
  text-decoration: underline; }

#feature .box {
  height: 20vh;
  position: relative;
  transition: .2s; }
  #feature .box:hover {
    bottom: 10px;
    transition: .2s;
    background-color: rgba(51, 59, 75, 0.8);
    color: #ecf6f8;
    box-shadow: 2px 2px 2px 1px #ecf6f8, 10px 10px 7px 1px rgba(51, 59, 75, 0.8); }
    #feature .box:hover .subtitle {
      color: #ecf6f8; }
  #feature .box .iconify {
    font-size: 3rem; }
  #feature .box .subtitle {
    font-size: 1.7rem;
    font-weight: bolder; }
  @media screen and (max-width: 750px) {
    #feature .box {
      height: auto; } }

.footer {
  background-color: #333B4B; }
  .footer .title {
    color: #ecf6f8; }
  .footer .subtitle {
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold; }
  .footer li {
    font-size: .9rem;
    color: #ecf6f8;
    margin-top: 1rem; }
    .footer li:hover {
      cursor: pointer;
      text-decoration: underline; }
  .footer .iconify {
    color: #ecf0f1;
    font-size: 2rem; }
  .footer .icons {
    display: flex;
    flex-direction: column; }

/*# sourceMappingURL=style.css.map */
