// color
$white: #ecf6f8;
$dark:rgba(51,59,75,0.8);
$grey:#757a86;
$black:#333B4B;
%centre{
	display: flex;
}
// media
@mixin mobile(){
	@media screen and (max-width: 750px) {
		@content;
	}
}
// built in
*{
	font-family: Inter;
}
body{
	background-color: $white;
}
.title{
	color:$dark;
}
.bg-dark{
	background-color:$black;
	color:$white;
	&:hover{
		background-color:$dark;
		color:$white;
	}
}
.bg-light{
	color: $black;
	background-color: $white;
	border: none;
	&:hover{
		background-color:#fff;
	}
}
// navbar
nav{
	width: 100vw;
	height: 20vh;
	display:flex;
	justify-content: space-around;
	align-items: center;
	.logo{
		.iconify{
			font-size: 3rem;
			color: rgba(51,59,75,0.8);
		}

	}
	.toggle{
		display:none;

	}
	ul{
		display:inline-flex;
		li{
			padding: 1rem;
			border-radius:5px;
				transition: .3s;
			a{
				color:rgba(51,59,75,0.8);
				font-weight: bolder;
				// opacity: 0.8;
				letter-spacing: 1px;
			}
			&:hover{
				background-color:$black;
				a{

				color:$white;
				}
				box-shadow: 2px 7px 10px 1px #323030;
				transition: .4s;
			}
		}
	}
	@include mobile{
		justify-content:space-around;
		.toggle{
			display:inline-block;
		}
		ul{
			display:none;
		}
	}

}
.hero{

.hero-body{
	padding: 0;
	h1{
		font-weight: bolder;
	}
	img{
		filter: drop-shadow(20px 20px 4px $grey);
		transform: rotate(-5deg);
	}
}
}
// posts
#posts{
	.title{}
	.subtitle{
		margin: 0;
		font-weight: bold;
	}
	.content{
		color: $grey;
		text-decoration: underline;
	}
}